.hljs-light .hljs {
	background-color: #f0f0f0
}

.hljs-light .hljs, .hljs-light .hljs-subst, .hljs-light .hljs-tag .hljs-title,
	.hljs-light .lisp .hljs-title, .hljs-light .clojure .hljs-built_in,
	.hljs-light .nginx .hljs-title {
	color: #000
}

.hljs-light .hljs-string, .hljs-light .hljs-title, .hljs-light .hljs-constant,
	.hljs-light .hljs-parent, .hljs-light .hljs-tag .hljs-value,
	.hljs-light .hljs-rules .hljs-value, .hljs-light .hljs-rules .hljs-value .hljs-number,
	.hljs-light .hljs-preprocessor, .hljs-light .hljs-pragma, .hljs-light .haml .hljs-symbol,
	.hljs-light .ruby .hljs-symbol, .hljs-light .ruby .hljs-symbol .hljs-string,
	.hljs-light .hljs-aggregate, .hljs-light .hljs-template_tag,
	.hljs-light .django .hljs-variable, .hljs-light .smalltalk .hljs-class,
	.hljs-light .hljs-addition, .hljs-light .hljs-flow, .hljs-light .hljs-stream,
	.hljs-light .bash .hljs-variable, .hljs-light .apache .hljs-tag,
	.hljs-light .apache .hljs-cbracket, .hljs-light .tex .hljs-command,
	.hljs-light .tex .hljs-special, .hljs-light .erlang_repl .hljs-function_or_atom,
	.hljs-light .asciidoc .hljs-header, .hljs-light .markdown .hljs-header,
	.hljs-light .coffeescript .hljs-attribute {
	color: #E6DB74
}

.hljs-light .smartquote, .hljs-light .hljs-comment, .hljs-light .hljs-annotation,
	.hljs-light .hljs-template_comment, .hljs-light .diff .hljs-header,
	.hljs-light .hljs-chunk, .hljs-light .asciidoc .hljs-blockquote,
	.hljs-light .markdown .hljs-blockquote {
	color: #888
}

.hljs-light .hljs-number, .hljs-light .hljs-date, .hljs-light .hljs-regexp,
	.hljs-light .hljs-literal, .hljs-light .hljs-hexcolor, .hljs-light .smalltalk .hljs-symbol,
	.hljs-light .smalltalk .hljs-char, .hljs-light .go .hljs-constant,
	.hljs-light .hljs-change, .hljs-light .lasso .hljs-variable,
	.hljs-light .makefile .hljs-variable, .hljs-light .asciidoc .hljs-bullet,
	.hljs-light .markdown .hljs-bullet, .hljs-light .asciidoc .hljs-link_url,
	.hljs-light .markdown .hljs-link_url {
	color: #080
}

.hljs-light .hljs-label, .hljs-light .hljs-javadoc, .hljs-light .ruby .hljs-string,
	.hljs-light .hljs-decorator, .hljs-light .hljs-filter .hljs-argument,
	.hljs-light .hljs-localvars, .hljs-light .hljs-array, .hljs-light .hljs-attr_selector,
	.hljs-light .hljs-important, .hljs-light .hljs-pseudo, .hljs-light .hljs-pi,
	.hljs-light .haml .hljs-bullet, .hljs-light .hljs-doctype, .hljs-light .hljs-deletion,
	.hljs-light .hljs-envvar, .hljs-light .hljs-shebang, .hljs-light .apache .hljs-sqbracket,
	.hljs-light .nginx .hljs-built_in, .hljs-light .tex .hljs-formula,
	.hljs-light .erlang_repl .hljs-reserved, .hljs-light .hljs-prompt,
	.hljs-light .asciidoc .hljs-link_label, .hljs-light .markdown .hljs-link_label,
	.hljs-light .vhdl .hljs-attribute, .hljs-light .clojure .hljs-attribute,
	.hljs-light .asciidoc .hljs-attribute, .hljs-light .lasso .hljs-attribute,
	.hljs-light .coffeescript .hljs-property, .hljs-light .hljs-phony {
	color: #88f
}

.hljs-light .hljs-keyword, .hljs-light .hljs-id, .hljs-light .hljs-title,
	.hljs-light .hljs-built_in, .hljs-light .hljs-aggregate, .hljs-light .css .hljs-tag,
	.hljs-light .hljs-javadoctag, .hljs-light .hljs-phpdoc, .hljs-light .hljs-yardoctag,
	.hljs-light .smalltalk .hljs-class, .hljs-light .hljs-winutils,
	.hljs-light .bash .hljs-variable, .hljs-light .apache .hljs-tag,
	.hljs-light .go .hljs-typename, .hljs-light .tex .hljs-command,
	.hljs-light .asciidoc .hljs-strong, .hljs-light .markdown .hljs-strong,
	.hljs-light .hljs-request, .hljs-light .hljs-status {
	font-weight: bold
}

.hljs-light .asciidoc .hljs-emphasis, .hljs-light .markdown .hljs-emphasis
	{
	font-style: italic
}

.hljs-light .coffeescript .javascript, .hljs-light .javascript .xml,
	.hljs-light .lasso .markup, .hljs-light .tex .hljs-formula, .hljs-light .xml .javascript,
	.hljs-light .xml .vbscript, .hljs-light .xml .css, .hljs-light .xml .hljs-cdata
	{
	opacity: .5
}

.hljs-dark {
	background: #f6f6f6
}

.hljs-dark .hljs {
	background: #23241f
}

.hljs-dark .hljs, .hljs-dark .hljs-tag, .hljs-dark .css .hljs-rules,
	.hljs-dark .css .hljs-value, .hljs-dark .css .hljs-function .hljs-preprocessor,
	.hljs-dark .hljs-pragma {
	color: #E6DB74
}

.hljs-dark .hljs-strongemphasis, .hljs-dark .hljs-strong, .hljs-dark .hljs-emphasis
	{
	color: #a8a8a2
}

.hljs-dark .hljs-bullet, .hljs-dark .hljs-blockquote, .hljs-dark .hljs-horizontal_rule,
	.hljs-dark .hljs-number, .hljs-dark .hljs-regexp, .hljs-dark .alias .hljs-keyword,
	.hljs-dark .hljs-literal, .hljs-dark .hljs-hexcolor {
	color: #ae81ff
}

.hljs-dark .hljs-tag .hljs-value, .hljs-dark .hljs-code, .hljs-dark .hljs-title,
	.hljs-dark .css .hljs-class, .hljs-dark .hljs-class .hljs-title:last-child
	{
	color: #a6e22e
}

.hljs-dark .hljs-strong, .hljs-dark .hljs-strongemphasis {
	font-weight: bold
}

.hljs-dark .hljs-emphasis, .hljs-dark .hljs-strongemphasis, .hljs-dark .hljs-class .hljs-title:last-child
	{
	font-style: italic
}

.hljs-dark .hljs-keyword, .hljs-dark .hljs-function, .hljs-dark .hljs-change,
	.hljs-dark .hljs-winutils, .hljs-dark .hljs-flow, .hljs-dark .lisp .hljs-title,
	.hljs-dark .clojure .hljs-built_in, .hljs-dark .nginx .hljs-title,
	.hljs-dark .tex .hljs-special, .hljs-dark .hljs-header, .hljs-dark .hljs-attribute,
	.hljs-dark .hljs-symbol, .hljs-dark .hljs-symbol .hljs-string,
	.hljs-dark .hljs-tag .hljs-title, .hljs-dark .hljs-value, .hljs-dark .alias .hljs-keyword:first-child,
	.hljs-dark .css .hljs-tag, .hljs-dark .css .unit, .hljs-dark .css .hljs-important
	{
	color: #AE81FF
}

.hljs-dark .hljs-function .hljs-keyword, .hljs-dark .hljs-class .hljs-keyword:first-child,
	.hljs-dark .hljs-constant, .hljs-dark .css .hljs-attribute {
	color: #66d9ef
}

.hljs-dark .hljs-variable, .hljs-dark .hljs-params, .hljs-dark .hljs-class .hljs-title
	{
	color: #f8f8f2
}

.hljs-dark .hljs-string, .hljs-dark .css .hljs-id, .hljs-dark .hljs-subst,
	.hljs-dark .haskell .hljs-type, .hljs-dark .ruby .hljs-class .hljs-parent,
	.hljs-dark .hljs-built_in, .hljs-dark .sql .hljs-aggregate, .hljs-dark .django .hljs-template_tag,
	.hljs-dark .django .hljs-variable, .hljs-dark .smalltalk .hljs-class,
	.hljs-dark .django .hljs-filter .hljs-argument, .hljs-dark .smalltalk .hljs-localvars,
	.hljs-dark .smalltalk .hljs-array, .hljs-dark .hljs-attr_selector,
	.hljs-dark .hljs-pseudo, .hljs-dark .hljs-addition, .hljs-dark .hljs-stream,
	.hljs-dark .hljs-envvar, .hljs-dark .apache .hljs-tag, .hljs-dark .apache .hljs-cbracket,
	.hljs-dark .tex .hljs-command, .hljs-dark .hljs-prompt, .hljs-dark .hljs-link_label,
	.hljs-dark .hljs-link_url {
	color: #e6db74
}

.hljs-dark .hljs-comment, .hljs-dark .hljs-javadoc, .hljs-dark .java .hljs-annotation,
	.hljs-dark .python .hljs-decorator, .hljs-dark .hljs-template_comment,
	.hljs-dark .hljs-pi, .hljs-dark .hljs-doctype, .hljs-dark .hljs-deletion,
	.hljs-dark .hljs-shebang, .hljs-dark .apache .hljs-sqbracket,
	.hljs-dark .tex .hljs-formula {
	color: #75715e
}

.hljs-dark .coffeescript .javascript, .hljs-dark .javascript .xml,
	.hljs-dark .tex .hljs-formula, .hljs-dark .xml .javascript, .hljs-dark .xml .vbscript,
	.hljs-dark .xml .css, .hljs-dark .xml .hljs-cdata, .hljs-dark .xml .php,
	.hljs-dark .php .xml {
	opacity: .5
}

.hljs-keyword{
	font-weight: bold;
}

code {
	color: white;
	font-family: Consolas;
}